.question-box {
  color: #ffeded;
  padding: 60px;
  background: #f3f6f935;
  width: 350px;
  height: 320px;
  border-radius: 30px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 140px;
  left: 30px;
}

.card_bookmark {
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  top: -30px;
  right: 25px;
}

.bookmark {
  font-size: 50px;
}

.question {
  position: relative;
  top: -20px;
}

.show-answer {
  font-weight: bold;
  color: #ce9d9d;
  border-color: #0d00ff;
  background: #0d00ff;
  border-radius: 25px;
  font-size: 22px;
  padding: 15px;
  margin: -5px;
}

.tags {
  list-style: none;
  display: flex;
  /* justify-content: space-between;  */
  /* justify... funktioniert nicht !? */
  gap: 20px;
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.tag {
  border: solid #0d00ff;
  background-color: rgba(255, 255, 255, 0.475);
  color: #0d00ff;
  padding: 10px;
  border-radius: 20px;
}
