.footer_nav {
  padding: 15px;
  background: #f3f5f9ae;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
}

/* .home {
  } */

/* .quiz {
  } */

/* .user-profile {
  } */
